<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello</h1>
  <form action="/" method="post">
    유저 추가
    <input type="text" name="name" placeholder="이름">
    <input type="text" name="nick" placeholder="아이디">
    <input type="text" name="classNumber" placeholder="학번">
    <input type="password" name="password" placeholder="비밀번호">
    <select name="circleId">
      <option value="1">PANG</option>
      <option value="2">시나브로</option>
      <option value="3">DMS</option>
      <option value="4">GRAM</option>
      <option value="5">INFO</option>
      <option value="6">덧셈</option>
      <option value="7">ENTRY</option>
      <option value="8">D</option>
    </select>
    <input type="submit">
  </form>
</body>
</html>